@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
    flex-direction: column;
  }

  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .mobile-menu {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    background-color: #fff;
    z-index: 100;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--timing);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 21px;
    padding-bottom: 40px;
    position: relative;
  }

  .mobile-menu-menu {
    display: flex;
    /* margin-top: 80px;
    margin-left: 40px; */
    margin-bottom: auto;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }

  .mobile-menu-link {
    display: block;
  }

  .mobile-menu-address {
    display: flex;
    /* width: 337px;
    height: 104px; */
    margin-bottom: 48px;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 40px;
  }

  .mobile-menu-address-link {
    display: block;
  }

  .mobile-menu-social-list {
    display: flex;
    justify-content: space-between;
    max-width: 328px;
    /* flex-wrap: wrap; */
    /* gap: 56px; */
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: var(--timing);
  }

  .mobile-menu-close-icon {
    background: #e7e9fc;
    transition: var(--timing);
  }

  .mobile-menu-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #434455;
    transition: var(--timing);
  }

  .mobile-menu-text:hover,
  .mobile-menu-text:focus {
    color: #404bbf;
  }

  .mobile-menu-text-address {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .mobile-menu-text-tel {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4d5ae5;
  }

  .footer-modal-form-input {
    width: 100%;
  }
}

@media screen and (max-width: 413px) {
  .mobile-menu-text-tel {
    font-size: 22px;
  }
}

/*------ portfolio -----*/

@media screen and (max-width: 767px) {
  .prtf-filtr {
    display: flex;
    gap: 24px 16px;
    flex-wrap: wrap;
    width: 263px;
    height: 96px;
    margin-bottom: 48px;
  }

  .prtf-btn {
    padding: 8px 16px;
  }

  .backdown-to-prtf {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 767px) {
  .modal-modal {
    width: 392px;
  }

  .modal-contact-form {
    width: 100%;
  }

  .modal-grup {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media screen and (max-width: 426px) {
  .modal-modal {
    width: calc(100% - 2 * 15px);
  }
}
