:root {
  --background-dark: #2f303a;
  --background-hero: #c4c4c4;
  --background-white: #ffffff;
  --page-header-color: #ececec;
  --team-main: #f5f4fa;
  --primary-text-color: #212121;
  --accent-text-color: #2196f3;
  --hero-hover-color: #188ce8;
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --gray-text-color: #757575;
  --white-text-color: #ffffff;
  --gallery-back-color: #eeeeee;
  --social-text-color: rgba(175, 177, 184, 1);
  --background-soc-color: rgba(255, 255, 255, 0.1);
  --sprite-fill-color: #afb1b8;
  --sprite-accent-color: #2196f3;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --modal-grey-color: rgba(33, 33, 33, 0.2);
  --backdrop-frame-color: rgba(255, 255, 255, 1);
  --portfolio-overlay-color: rgba(33, 150, 243, 0.9);
  --work-overlay-color: rgba(47, 48, 58, 0.8);
  --work-background-color: rgba(47, 48, 58, 0.8);
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
  --card-set-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.body {
  color: #212121;
  background-color: var(--background-white);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

textarea {
  resize: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section .no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  padding-top: 0px;
}

.section.work {
  padding-top: 0px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--accent-text-color);
  font-weight: 400;
  font-size: 40;
  line-height: 1.5;
}

.section-title .centered {
  text-align: center;
}

.body {
  color: #212121;
  background-color: var(--background-white);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

textarea {
  resize: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* outline: 2px solid tomato; */
}

.page-header {
  border-bottom: 2px solid var(--page-header-color);
}

/* -------------------LOGO---------------------- */
.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.studio {
  color: var(--primary-text-color);
}

.studio--bottom {
  color: var(--white-text-color);
}

/* -------------------SITE NAV---------------------- */
.header,
.header__menu,
.header__nav,
.header__contacts {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: 93px;
}

.header__nav .header__page--link-current.header__page--link {
  color: var(--accent-text-color);
}

.header__nav .header__page + .header__page {
  margin-left: 40px;
  position: relative;
  display: list-item;
}

.header__nav .header__page--link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav .header__page--link:hover, .header__nav .header__page--link:focus {
  color: var(--accent-text-color);
}

.header__page {
  position: relative;
}

.header__page--link-current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

/* contacts */
.header__contacts {
  margin-left: auto;
}

.header__contacts .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--gray-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts .link:hover, .header__contacts .link:focus {
  color: var(--accent-text-color);
}

.header__contacts--email,
.header__contacts--phone {
  color: var(--background-hero);
  margin-left: 30px;
}

.email-and-phone--icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.email-and-phone--icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.button__portfolio {
  padding: 6px 22px 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--team-main);
  cursor: pointer;
  border: 0mm;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  font-weight: 500;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__portfolio:hover, .button__portfolio:focus {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
}

.button__portfolio--curent {
  padding: 6px 22px 6px 22px;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  border: 0mm;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  font-weight: 500;
  text-align: center;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation--list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.navigation--list li {
  margin-right: 8px;
}

.portfolio__content {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid var(--gallery-back-color);
  border-right: 1px solid var(--gallery-back-color);
  border-bottom: 1px solid var(--gallery-back-color);
}

.portfolio__item {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: var(--primary-text-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--gray-text-color);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.portfolio__element {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.portfolio__element:hover, .portfolio__element:focus-within {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
}

.portfolio__element:hover .portfolio__overlay,
.portfolio__element:focus-within .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--portfolio-overlay-color);
  transform: translateY(101%);
  pointer-events: none;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__image {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  padding: 63px 24px;
  font-style: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--white-text-color);
}

.team {
  background: var(--team-main);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
}

.team__element {
  background-color: var(--background-white);
  margin-right: 30px;
  box-sizing: border-box;
  box-shadow: var(--card-shadow);
  border-radius: 5px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.14), 0px 1px 8px rgba(0, 0, 0, 0.12);
}

.team__element:last-child {
  margin-right: 0px;
}

.team__team {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}

.team__member {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--gray-text-color);
}

.footer {
  background-color: var(--background-dark);
  padding-bottom: 60px;
  padding-top: 60px;
  font-size: 14px;
  line-height: 1.71;
}

.footer--container {
  display: flex;
  align-items: baseline;
}

.footer__contacts .logo {
  display: flex;
  margin-bottom: 20px;
  padding: 0px;
}

.footer__address--street {
  color: var(--team-main);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  vertical-align: Top;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address--street:focus, .footer__address--street:hover {
  color: var(--accent-text-color);
}

.footer__address--mail,
.footer__address--phone {
  color: var(--footer-text-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address--mail:focus, .footer__address--mail:hover,
.footer__address--phone:focus,
.footer__address--phone:hover {
  color: var(--accent-text-color);
}

.footer__address {
  margin-bottom: 9px;
}

.footer__address:last-child {
  margin-bottom: 0px;
}

.footer__subscribe {
  display: block;
  margin-left: 67px;
  justify-content: center;
}

/* -------------------TEAM---------------------- */
.social {
  display: flex;
}

.social__element {
  display: flex;
  width: calc((100% - 10px) / 4);
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 50px;
  fill: var(--sprite-fill-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-text-color);
  fill: var(--background-white);
}

.social__icon {
  width: 20px;
  height: 20px;
}

/* -------------------FOOTER---------------------- */
.social--footer {
  margin-left: 70px;
}

.social__list {
  display: flex;
}

.social__text {
  margin-bottom: 20px;
  color: var(--team-main);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.social__frame {
  height: 44px;
  width: 44px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--background-soc-color);
  background-size: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__frame:focus, .social__frame:hover {
  background-color: var(--accent-text-color);
}

.social__link--footer {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 50px;
  fill: var(--white-text-color);
}

.social__link--footer:focus {
  background-color: var(--hero-hover-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  display: inline-flex;
  margin-bottom: 21px;
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe__auth {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--footer-color);
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: var(--background-white);
  width: 200px;
  height: 50px;
  text-align: left;
  padding-left: 29px;
  background-color: var(--accent-text-color);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button:hover, .subscribe__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--hero-hover-color);
  background-color: var(--white-text-color);
}

.subscribe__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.subscribe__icon:hover, .subscribe__icon:focus {
  fill: var(--portfolio-overlay-color);
}
/*# sourceMappingURL=portfolio.css.map */