:root {
	--primary-brand: #4d5ae5;
	--pressed-state: #404bbf;
	--dark: #2e2f42;
	--success: #31d0aa;
	--text: #434455;
	--subtle-text: #8e8f99;
	--accent: #e7e9fc;
	--light: #f4f4fd;
	--pure-white: #ffffff;
	--modal-overlay: #2e2f42;
	--hero-background: #2e2f42;
	--white: #ffffff;
	--card-set-gap: 24px;
	--cornflower: rgba(231, 233, 252, 1);
	--footer-social-bg: rgba(255, 255, 255, 0.1);
	--backdrop-color: rgba(46, 47, 66, 0.4);
	--backdrop-background: #fcfcfc;
	--backdrop-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	--card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
	--portfolio-btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	--card-shadow-portfolio: 0px 1px 6px rgba(46, 47, 66, 0.08);
	--timing: cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------------MAIN PAGE---------------------- */

body {
	background-color: var(--pure-white);
	color: var(--text);

	padding-top: 76px;

	font-family: Roboto, sans-serif;
	font-style: normal;
}

/* -------------------GLOBAL---------------------- */

a {
	text-decoration: none;
	font-style: normal;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
p {
	margin: 0;
}

li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.visually-hidden {
	white-space: nowrap;
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

/* -------------------FLEXBOX---------------------- */

.container {
	width: 1158px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	/* outline: 2px solid tomato; */
}

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.section--no-padding {
	padding-top: 0px;
	padding-bottom: 0px;
}

/* -------------------HEADER---------------------- */

.page__header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;

	z-index: 1;

	background-color: var(--pure-white);
	border-bottom: 1px solid var(--cornflower);
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
	padding: 24px 0 24px;

	color: var(--dark);

	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.3;
	letter-spacing: 0.03em;
}

.web {
	color: var(--primary-brand);
}

/* -------------------SITE NAV---------------------- */

.header,
.header__nav,
.header__menu,
.address__list {
	display: flex;
	align-items: center;
}

.header__nav {
	margin-left: 76px;
}

.header__link {
	position: relative;
	display: block;
	padding: 24px 0 24px;
	color: var(--dark);

	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	transition: color 250ms var(--timing);
}

.current,
.header__link:hover,
.header__link:focus {
	color: var(--pressed-state);
}

.current::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;

	display: block;
	width: 100%;
	height: 4px;
	border-radius: 2px;

	background-color: var(--pressed-state);
}

.address {
	margin-left: auto;
}

.address__link {
	display: block;
	padding: 24px 0 24px;
	color: var(--text);

	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	transition: color 250ms var(--timing);
}

.header__list,
.address__item {
	margin-right: 40px;
}

.header__list:last-child,
.address__item:last-child {
	margin-right: 0px;
}

.address__link:hover,
.address__link:focus {
	color: var(--pressed-state);
}

/* -------------------HERO---------------------- */

.hero {
	padding-top: 188px;
	padding-bottom: 188px;
	text-align: center;
}

.container--hero {
	width: 530px;
}

.overlay {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url("../images/people-office.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hero__title {
	margin-bottom: 48px;

	color: var(--light);
	font-size: 56px;
	line-height: 1.1;

	letter-spacing: 0.02em;
}

.backdrop {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	width: 100%;
	height: 100%;

	background-color: var(--backdrop-color);

	opacity: 1;
	transition: opacity 250ms var(--timing);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(1.1);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 4px;

	padding: 72px 24px 24px 24px;
	text-align: center;

	background-color: var(--backdrop-background);
	box-shadow: var(--backdrop-shadow);

	transform: translate(-50%, -50%) scale(1);

	transition: transform 250ms var(--timing);
}

.close__button {
	position: absolute;
	top: 24px;
	right: 24px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 24px;
	height: 24px;

	color: var(--dark);

	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50px;
	box-sizing: border-box;

	cursor: pointer;

	transition: color, background-color 250ms var(--timing);
}

.close__button:hover,
.close__button:focus {
	color: var(--accent);
	background-color: var(--pressed-state);
	transition: color, background-color 250ms var(--timing);
}

.close__icon {
	width: 8px;
	height: 8px;

	fill: currentColor;
	transition: fill, color 250ms var(--timing);
}

/* -------------------FORM FIELD---------------------- */

.backdrop__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	margin-bottom: 16px;
}

.form__label {
	font-size: 12px;
	line-height: 1.3;
	letter-spacing: 0.04em;
	margin-bottom: 4px;
	color: var(--subtle-text);
}

.form__field {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;

	text-align: left;
	color: var(--dark);

	outline: 1px solid pink;
}

.last {
	margin-bottom: 16px;
}

.form__field__input {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	font-size: 18px;
	padding: 11px 38px 11px 38px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color 250ms var(--timing);
}

.form__field__input:focus,
.form__field__input:hover {
	outline: none;
	border-color: var(--primary-brand);
}

.icon__wrapper {
	position: relative;
}

.icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 16px;
	display: block;
	width: 18px;
	height: 24px;
	background-size: contain;
	fill: var(--dark);
	transition: fill 250ms var(--timing);
}

.form__field__input:focus + .icon,
.form__field__input:hover + .icon {
	outline: none;
	fill: var(--primary-brand);
}

.svg-person {
	width: 18px;
	height: 24px;
}
.svg-phone {
	width: 18px;
	height: 24px;
}
.svg-mail {
	width: 18px;
	height: 24px;
}

textarea {
	resize: none;
	padding: 8px 16px 8px 16px;
}

.comment__field {
	width: 100%;
	height: 120px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color 250ms var(--timing);
}

.comment__field::placeholder {
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;
	color: rgba(117, 117, 117, 0.5);
}

.comment__field:focus,
.comment__field:hover {
	outline: none;
	border-color: var(--primary-brand);
}

.form__check {
	margin-bottom: 24px;
}

.form__check__desc {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;

	color: #757575;

	margin-bottom: 24px;
	transition: color 250ms var(--timing);
}

.form__check__desc::before {
	display: block;
	content: "";
	width: 16px;
	height: 16px;
	border: 1.25px solid #2e2f42;
	border-radius: 2px;
	cursor: pointer;
	margin-right: 8px;
	transition: border-color 250ms var(--timing);
}

.form__check:checked + .form__check__desc::before {
	background-color: var(--pressed-state);
	background-image: url(../images/svg/modal/icon-check.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 10px;
	border: none;
}

.form__check:focus + .form__check__desc::before {
	border-color: var(--pressed-state);
}

.form__check:hover + .form__check__desc::before {
	border-color: var(--pressed-state);
}

.form__check__desc:hover,
.form__check__desc:focus {
	color: var(--pressed-state);
}

.form__check__policy {
	color: var(--primary-brand);
	text-decoration: underline;
}

/* -------------------BUTTON---------------------- */

.btn {
	min-width: 169px;
	padding: 16px 32px;

	color: var(--light);
	background-color: var(--primary-brand);
	cursor: pointer;
	border: 0mm;
	border-radius: 4px;

	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.04em;

	transition: color, background-color, box-shadow, 250ms var(--timing);
}

.btn:hover,
.btn:focus {
	background-color: var(--pressed-state);
}

/* -------------------PORTFOLIO BUTTON--------------------- */

.portfolio__section {
	padding-top: 96px;
	padding-bottom: 120px;
}

.navigation__list {
	align-items: center;
}

.navigation__li:not(:last-child) {
	margin-right: 24px;
}

.btn--portfolio {
	color: var(--primary-brand);
	background-color: var(--light);
	border: 1px solid var(--cornflower);
	transition: 250ms var(--timing);
}

.btn--portfolio {
	min-width: auto;
	padding: 12px 24px 12px 24px;
}

.btn--portfolio:hover,
.btn--portfolio:focus {
	color: var(--light);
	background-color: var(--pressed-state);
	box-shadow: var(--portfolio-btn-shadow);
	border-color: transparent;
}

/* -------------------FEATURES SECTION---------------------- */

.features__list {
	display: flex;
}

.features__element {
	width: 264px;
}

.features__element:not(:last-child) {
	margin-right: 24px;
}

.features__title {
	margin-bottom: 8px;

	color: var(--dark);

	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.features__description {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.features__element::before {
	display: block;
	content: "";
	height: 112px;
	margin-bottom: 8px;
	border-radius: 4px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 64px;
	background-color: var(--light);
}

.features__element--antenna::before {
	background-image: url(../images/svg/features/antenna.svg);
}

.features__element--clock::before {
	background-image: url(../images/svg/features/clock.svg);
}

.features__element--diagram::before {
	background-image: url(../images/svg/features/diagram.svg);
}

.features__element--astronaut::before {
	background-image: url(../images/svg/features/astronaut.svg);
}
/* -------------------WORK SECTION---------------------- */

.work {
	padding-top: 0;
}

.work__list,
.team__list {
	display: flex;
}

.work__element:not(:last-child) {
	margin-right: 24px;
}

.work__title,
.team__title,
.customers__title {
	margin-bottom: 72px;

	color: var(--dark);

	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
}

/* -------------------TEAM SECTION---------------------- */

.team {
	background: var(--light);
}

.team__list .team__element:last-child {
	margin-right: 0px;
}

.team__element {
	margin-right: 24px;
	box-sizing: border-box;
	box-shadow: var(--card-shadow);
	border-radius: 0px 0px 4px 4px;
	overflow: hidden;

	background-color: var(--light);
}

.team__card {
	padding: 32px 16px;
	background-color: var(--white);
	text-align: center;
}

.team__member {
	margin-bottom: 8px;
	color: var(--dark);

	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.02em;
}

.team__text {
	margin-bottom: 8px;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
}

.team__sn-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 24px;
	padding: 0;
	margin: 0;
}

.link-socialnetworks {
	width: 40px;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	background-color: var(--primary-brand);
	transition: background-color 250ms var(--timing);
}

.icon-socialnetworks {
	width: 16px;
	height: 16px;
	fill: var(--accent);
}

.link-socialnetworks:hover,
.link-socialnetworks:focus {
	background-color: var(--pressed-state);
}

/* -------------------CUSTOMERS SECTION---------------------- */

.customers__list {
	display: flex;
	justify-content: space-between;
}

.customers__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 168px;
	height: 88px;
	margin-right: 24px;
	box-sizing: border-box;
	border: 1px solid var(--subtle-text);
	border-radius: 4px;
	transition: fill, border 250ms var(--timing);
}

.customers__link:last-child {
	margin-right: 0px;
}

.customers__icon {
	width: 104px;
	height: 56px;
	fill: var(--subtle-text);
	transition: fill 250ms var(--timing);
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
	fill: var(--pressed-state);
}

.customers__link:hover,
.customers__link:focus {
	border: 1px solid var(--pressed-state);
	fill: var(--pressed-state);
}

/* -------------------PORTFOLIO---------------------- */

.navigation__list {
	display: flex;
	justify-content: center;
	margin-bottom: 72px;
}

.portfolio__list {
	display: flex;
	flex-wrap: wrap;
	gap: 48px 24px;
	padding: 0;
	margin: 0;
}

.portfolio__element {
	width: 360px;
	border: 1px solid var(--accent);
	box-shadow: var(--card-shadow-portfolio);
}

.portfolio__element:nth-child(n + 7) {
	margin-bottom: 0px;
}

.portfolio__link {
	display: block;
	transition: box-shadow 250ms var(--timing);
}

.portfolio__link:hover,
.portfolio__link:focus {
	display: block;
	box-shadow: var(--card-shadow);
}

.portfolio__card {
	padding: 32px 16px;
	background-color: var(--white);
	border-left: 1px solid var(--cornflower);
	border-right: 1px solid var(--cornflower);
	border-bottom: 1px solid var(--cornflower);
}

.portfolio__item {
	margin-bottom: 8px;
	color: var(--dark);
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;

	letter-spacing: 0.02em;
}

.portfolio__text {
	color: var(--text);
	font-size: 16px;
	line-height: 1.5;

	letter-spacing: 0.02em;
}

.portfolio__image {
	position: relative;
	overflow: hidden;
}

.portfolio__overlay {
	padding: 40px 32px 164px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--primary-brand);

	transform: translateY(101%);
	pointer-events: none;
	opacity: 1;

	transition: transform 250ms var(--timing);
}

.overlay__text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	color: var(--light);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
	transform: translateY(0);
}

/* -------------------FOOTER---------------------- */

.footer {
	padding: 100px 16px 100px;
	background: var(--dark);
}

.footer__container {
	display: flex;
}

.footer__logo {
	display: inline-block;
	margin-bottom: 16px;
	padding: 0;
	color: var(--light);
}

.footer__text {
	width: 264px;
	color: var(--accent);
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.footer__social {
	margin-left: 120px;
}

.footer__social--text {
	margin-bottom: 16px;

	color: var(--accent);

	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.footer__social--list {
	display: flex;
	gap: 16px;
}

.footer__social--element {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	cursor: pointer;
	background-color: var(--footer-social-bg);
}

.footer__social--link {
	width: 40px;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	fill: var(--accent);
	transition: background-color 250ms var(--timing);
}

.footer__social--link:hover,
.footer__social--link:focus {
	background-color: var(--success);
}

.footer__social--icon {
	width: 24px;
	height: 24px;
}

.footer__subscribe {
	margin-left: 80px;
}

.footer__field {
	display: block;
	width: 264px;
	height: 40px;
	padding: 8px 16px 8px 16px;

	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;

	color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	background-color: var(--modal-overlay);
}

.footer__subscribe__text {
	margin-bottom: 16px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: rgba(255, 255, 255, 1);
}

.form__subscribe {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn__subscribe {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 165px;
	height: 40px;
	margin-left: 24px;
	padding: 8px 24px 8px 24px;
}

.icon__telegram {
	margin-left: 16px;
	fill: var(--accent);
	width: 24px;
	height: 24px;
}
