:root {
  --main-title-color: #ffffff;
  --accent-color-logo-dark: #2e2f42;
  --accent-color-logo: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --ourteam-foto: #f4f4fd;
  --advantages-ourteam-text: #434455;
  --heder-color-info: #434455;
  --color-button-link: #404bbf;
  --color-logo-button: #4d5ae5;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --color-customers-iсons: #8e8f99;
  --color-footer-social-iсons: #f4f4fd;
  --color-footer-social-iсons-green: #31d0aa;
  --color-footer-social-iсons-dark: rgba(255, 255, 255, 0.1);
  --timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-line {
  border-bottom: 1px solid var(--footer-text-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 2px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.visually-hidden {
  position: absolute;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
}

body {
  background: var(--main-title-color);
  color: var(--advantages-ourteam-text);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  box-sizing: initial;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  white-space: nowrap;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
  font-style: normal;
}

/* -------------------FLEXBOX---------------------- */

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}

/*.container{
	width: 1158px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
    outline: 2px solid tomato;
}

/* -------------------HEADER---------------------- */

/*
.header-section{
    padding-top: 24px;
    padding-bottom: 24px;
    
}*/

/* .header-justify{
    display: flex;
    justify-content: space-between;
    align-items: center;
}    */

.header-logo {
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--accent-color-logo-dark);
  text-decoration: none;
}

.header-logo-color {
  color: var(--color-logo-button);
}

.header-list {
  margin-block-start: 0;
  margin-block-end: 0;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color-logo-dark);
  position: relative;
  transition: color var(--timing);
}

.header-link:hover,
.header-link:focus {
  color: var(--color-button-link);
}

.header-link.active {
  color: var(--color-button-link);
}

.header-link.active::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--color-button-link);
  position: absolute;
  bottom: -27px;
  left: 0;
}

.header-info {
  color: var(--heder-color-info);
  transition: color var(--timing);
}

.header-info:hover,
.header-info:focus {
  color: var(--color-button-link);
}

/* -------------------HERO---------------------- */

.hero-section {
  margin-left: auto;
  margin-right: auto;
  /* background-color: var(--accent-color-logo-dark); */
  /* padding-bottom: 192px;
    padding-top: 192px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.hero-image {
  font-weight: 700;
  color: var(--main-title-color);
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.02em;
}

.hero-image-btn {
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: var(--main-title-color);
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
}

.hero-button {
  background-color: var(--color-logo-button);
  transition: var(--timing);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-button-link);
}

/* -------------------BUTTON---------------------- */

.modal-image-btn {
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: var(--main-title-color);
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-text-btn {
  min-width: 105px;
}

.modal-button {
  background-color: var(--color-logo-button);
  transition: var(--timing);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-button-link);
}

/* -------------------FEATURES SECTION---------------------- */

.hero-advantages-section {
  margin-left: auto;
  margin-right: auto;
}

.hero-advantages-icon {
  fill: currentColor;
}

.hero-advantages-direction {
  color: var(--accent-color-logo-dark);
}

.hero-advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--advantages-ourteam-text);
}

/* -------------------TEAM SECTION---------------------- */

.ourteam-section {
  background-color: var(--accent-color-logo);
}

.ourteam-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--accent-color-logo-dark);
  text-align: center;
  margin-bottom: 72px;
}

.ourteam-item {
  background: var(--main-title-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.ourteam-block-man {
  padding: 32px 0;
}

.ourteam-name {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  color: var(--accent-color-logo-dark);
  text-align: center;
}

.ourteam-function {
  font-size: 16px;
  line-height: 1.5;
  color: var(--advantages-ourteam-text);
  text-align: center;
}

.ourteam-social-item {
  width: 40px;
  height: 40px;
}

.ourteam-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-logo-button);
  color: var(--main-title-color);
  transition: var(--timing);
}

.ourteam-social-link:hover,
.ourteam-social-link:focus {
  background-color: var(--color-button-link);
}

.ourteam-social-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

/* -------------------CUSTOMERS SECTION---------------------- */

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color-logo-dark);
  margin-bottom: 72px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-customers-iсons);
  border: 1px solid var(--color-customers-iсons);
  border-radius: 4px;
  transition: color var(--timing), border var(--timing);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--color-button-link);
  border: 1px solid var(--color-button-link);
}

.customers-icon {
  fill: currentColor;
}

/* -------------------PORTFOLIO---------------------- */

.prtf-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: var(--ourteam-foto);
  color: var(--color-logo-button);
  border: 1px solid var(--footer-text-color);
  cursor: pointer;
  transition: var(--timing);
}

.prtf-btn:hover,
.prtf-btn:focus {
  background-color: var(--color-button-link);
  color: var(--ourteam-foto);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--color-button-link);
}

/* CARDS */

.cards-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
}

.card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  display: block;
  transition: box-shadow var(--timing);
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-list-wrapper {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: var(--color-logo-button);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 164px;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms linear;
}

.card-list-item:hover .card-overlay {
  transform: translate(0, 0);
}

.card-block-text {
  padding: 32px 0 32px 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.cards-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color-logo-dark);
}

.cards-direction {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--advantages-ourteam-text);
}

/* -------------------FOOTER---------------------- */

.footer-logo {
  margin-bottom: 16px;
}

.footer-logo-color {
  color: var(--accent-color-logo);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--footer-text-color);
}

.footer-block-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-footer-social-iсons-dark);
  color: var(--color-footer-social-iсons);
  transition: background-color var(--timing), color var(--timing);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--color-footer-social-iсons-green);
}

.footer-social-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

.footer-modal-form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px 8px 16px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  transition: border-color var(--timing);
}

.footer-modal-form-submit {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 169px;
  align-self: center;
  padding: 8px 24px;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--timing);
}

.footer-modal-form-submit-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-right: 16px;
}

.footer-modal-form-submit-icon {
  fill: #ffffff;
}

/* ----- subscribe -----*/

.footer-modal-form-submit {
  transition: background-color var(--timing);
}

.footer-modal-form-submit:hover,
.footer-modal-form-submit:focus {
  background-color: var(--color-button-link);
  cursor: pointer;
}

/*----- MODAL -----*/

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-modal {
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  cursor: pointer;
  transition: var(--timing);
}

.modal-close-btn-icon {
  background: #e7e9fc;
  transition: var(--timing);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: var(--color-button-link);
  background-color: var(--color-button-link);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  background-color: var(--color-button-link);
  fill: var(--footer-text-color);
}

.modal-backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-grup {
  padding-top: 70px;
  padding-bottom: 26px;
}

.modal-grup-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  height: 24px;
  margin-bottom: 16px;
}

.modal-contact-form {
  width: 360px;
  min-height: 300px;
  margin: 0 auto;
  margin-bottom: 8px;
  /* border: none; */
}

.modal-label {
  display: block;
  position: relative;
}

.modal-label-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-contact-form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
  transition: border-color 250ms var(--timing);
}

.modal-contact-form-input:focus,
.modal-contact-form-input:hover {
  border-color: var(--color-logo-button);
}

.modal-contact-form-input:focus + .modal-icon,
.modal-contact-form-input:hover + .modal-icon {
  fill: var(--color-logo-button);
}

.modal-icon {
  display: flex;
  fill: currentColor;
  width: 22px;
  height: 24px;
  position: absolute;
  left: 10px;
  top: 58%;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing);
}

.modal-for-message {
  width: 100%;
  min-height: 120px;
  margin-bottom: 16px;
  padding: 10px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing);
}

.modal-for-message::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-for-message:focus-visible {
  outline: none;
}

.modal-for-message:focus,
.modal-for-message:hover {
  border-color: var(--color-logo-button);
}

.modal-form-check-privacy {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  text-align: right;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  transition: color var(--timing);
}

.modal-form-check-privacy-line {
  text-decoration-line: underline;
  color: #4d5ae5;
}

.modal-form-check-privacy::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: border-color var(--timing);
}

.modal-form-check:checked + .modal-form-check-privacy::before {
  background-color: rgba(64, 75, 191, 1);
  background-image: url(../images/Property-click.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  border: none;
}

.modal-form-check:hover + .modal-form-check-privacy::before,
.modal-form-check:focus + .modal-form-check-privacy::before {
  border-color: rgba(64, 75, 191, 1);
}

.modal-form-chec:hover,
.modal-form-chec:focus {
  color: rgba(64, 75, 191, 1);
}

.modal-form-check-privacy:hover,
.modal-form-check-privacy:focus {
  color: rgba(64, 75, 191, 1);
}
