.portfolio__content {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid var(--gallery-back-color);
  border-right: 1px solid var(--gallery-back-color);
  border-bottom: 1px solid var(--gallery-back-color);
}

.portfolio__item {
  @include font(18px, 2, 0.06em, 700);
  color: var(--primary-text-color);
}

.portfolio__text {
  @include font(16px, 1.87, 0.03em, 400);
  color: var(--gray-text-color);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.portfolio__element {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  // transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus-within {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.14),
      0px 1px 5px rgba(0, 0, 0, 0.12);
  }

  &:hover .portfolio__overlay,
  &:focus-within .portfolio__overlay {
    transform: translateY(0);
  }
}

.portfolio__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--portfolio-overlay-color);

  transform: translateY(101%);
  pointer-events: none;
  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__image {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  padding: 63px 24px;

  font-style: normal;
  @include font(18px, 1.55, 0.03em, 400);
  // font-weight: 400;
  // font-size: 18px;
  // line-height: 1.55;
  // letter-spacing: 0.03em;

  color: var(--white-text-color);
}
