.container {
  padding-top: 0px;
}

.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-element {
  position: relative;
  width: 370px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.work-overlay {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 370px;
  overflow: hidden;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  background-color: var(--work-background-color);
}

.work-overlay-text {
  color: var(--backdrop-frame-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
