.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--gray-text-color);

  cursor: pointer;

  span {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    border: 2px solid black;
    margin-right: 8px;
    border-radius: 2px;
  }

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.icon-check {
  fill: var(--background-white);
}

.agreement-link {
  color: var(--accent-text-color);
  text-decoration: underline;
}

// .modal-check {
//   &:focus + .form-checkbox span,
//   &:hover + .form-checkbox span {
//     border-color: var(--accent-text-color);
//   }

//   &:checked + .form-checkbox span {
//     background-color: var(--accent-text-color);
//     border: none;
//   }
// }
