.form-checkbox {
  @include align-center();

  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;

  @include font(14px, 1.71, 0.03em, 400);

  color: var(--gray-text-color);

  cursor: pointer;

  span {
    @include align-center();

    width: 16px;
    height: 16px;
    border: 2px solid black;
    margin-right: 8px;
    border-radius: 2px;
  }

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.icon-check {
  fill: var(--background-white);
}

.agreement-link {
  color: var(--accent-text-color);
  text-decoration: underline;
}
